:root {
    /* Color overrides, edit to whatever you want */
    --primary-h: 260; /* Hue */

    --link-color: hsl(calc(var(--primary-h) - 30), 75%, 60%);
    --link-hover-color: hsl(calc(var(--primary-h) - 30), 75%, 50%);
    --background-color: hsl(var(--primary-h), 75%, 10%);
    --header-background-color: hsl(var(--primary-h), 75%, 18%);
    --content-background-color: hsl(var(--primary-h), 75%, 8%);
    --text-color: #fff;
    --border-color: hsl(var(--primary-h), 75%, 60%);
    --indicator-inactive-color: #4a4a4a;
    --indicator-active-color: var(--border-color);
}

a {
    font-weight: 500;
    color: var(--link-color);
    text-decoration: inherit;
}
a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--background-color);
    font-family:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    font-size: 18px;
    color: var(--text-color);
    border-color: var(--border-color);
    overflow-wrap: break-word;
    word-wrap: normal;
    word-break: break-word;
    hyphens: none;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1400px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Post Component */
a:hover {
    text-decoration: underline;
}
#postContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    margin-bottom: 15px;
    overflow-wrap: break-word;
}
#postHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: var(--header-background-color);
    padding: 0px 0px;
    height: fit-content;
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;
    overflow-wrap: break-word;
    height: 60px;
}
#displayName {
    display: block;
    color: var(--text-color);
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    overflow-wrap: normal;
    word-wrap: break-word;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
#handle {
    display: block;
    color: var(--border-color);
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

#postLink {
    color: var(--border-color);
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}
#postContent {
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 10px;
    background-color: var(--content-background-color);
    color: var(--text-color);
    overflow-wrap: break-word;
    white-space: pre-line;
}
#replyingText {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}
#quotingText {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}
#postText {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    word-wrap: normal;
    word-break: break-word;
    hyphens: none;
}
#headerText {
    margin-left: 10px;
    font-size: 0.9em;
    text-align: start;
    word-break: break-word;
    max-width: 80%;
    max-height: 95%;
    overflow: hidden;
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}
#avatar {
    height: 60px;
    width: 60px;
    margin: 0px;
    margin-left: 0px;
    overflow: hidden;
    object-fit: cover;
    border-right: var(--border-color) 1px solid;
}
#carouselContainer {
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carouselControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-top: 5px;
}
#carouselIndicators {
    display: flex;
    gap: 5px;
}
.indicator {
    width: 8px;
    height: 8px;
    background-color: var(--indicator-inactive-color);
}
.indicator.active {
    background-color: var(--indicator-active-color);
}
#prevBtn,
#nextBtn {
    background-color: rgba(31, 17, 69, 0.7);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#prevBtn:disabled,
#nextBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
#embedVideo {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    align-self: center;
}

#embedImages {
    min-width: min(100%, 500px);
    max-width: min(100%, 500px);
    max-height: 500px;
    object-fit: contain;

    margin: 0;
}

/* Account Component */
#accountContainer {
    display: flex;
    text-align: start;
    align-items: center;
    background-color: var(--background-color);
    padding: 0px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    min-height: 30px;
}
#accountName {
    margin-left: 10px;
    font-size: 1em;
    max-width: 80%;

    /* replace overflow with ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-avatar {
    margin-left: 70px !important;
}

/* App.Svelte */
/* desktop style */

#Content {
    display: flex;
    /* split the screen in half, left for accounts, right for posts */
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
}
#Feed {
    overflow-y: scroll;
    width: 65%;
    height: 100vh;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#spacer {
    padding: 0;
    margin: 0;
    height: 10vh;
    width: 100%;
}
#Account {
    width: 35%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    background-color: var(--content-background-color);
    height: 80vh;
    padding: 20px;
    margin-left: 20px;
}
#accountsList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#Header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* mobile style */
@media screen and (max-width: 600px) {
    #Content {
        flex-direction: column;
        width: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 5%;
    }
    #Account {
        width: 85%;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 20px;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }
    #Feed {
        width: 95%;
        margin: 0px;
        margin-left: 10%;
        margin-right: 10%;
        padding: 0px;
        overflow-y: visible;
    }

    #spacer {
        height: 0;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
}
::-webkit-scrollbar-corner {
    background: transparent;
    border-radius: 0;
}
::-webkit-scrollbar-button {
    background: transparent;
    border-radius: 0;
}

* {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none; /* IE and Edge */
    -webkit-overflow-scrolling: touch;
    -webkit-scrollbar: none; /* Safari */
}
